:root.theme-dark {
  --accent-color: #ff0070;
  --shadow-color: #ff0070;
  --main-text-color: #f1b2ce;
  --big-title-color: #db00ff;
  --text-style: "IBM Plex Mono", sans-serif;
  --main-black-title: #000028;
  --bottom-accent-color: rgba(255, 0, 112, 0.4);
  --bg-color: #000028;
  --hf-title-color: #db00ff;
  --section-title-color: #ff0070;
  --footer-shadow: #ff0070;
}
.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --shadow-color: #ff0070;
  --main-text-color: #f1b2ce;
  --big-title-color: #db00ff;
  --text-style: "IBM Plex Mono", sans-serif;
  --main-black-title: #000028;
  --bottom-accent-color: rgba(255, 0, 112, 0.4);
  --bg-color: #000028;
  --hf-title-color: #db00ff;
  --section-title-color: #ff0070;
  --footer-shadow: #ff0070;
  .header__theme-menu-button {
    color: var(--accent-color);
  }
  .top__borders {
    --accent-color: #ff0070;
  }
  .bot__borders {
    --accent-color: #ff0070;
  }
  .dec__text {
    display: unset;
  }
  .dec__tochka {
    display: unset;
  }
  .footer__borders-top {
    --accent-color: #ff0070;
  }
  .footer__borders-bot {
    --accent-color: #ff0070;
  }
}
