:root.theme_light {
  --accent-color: #ff8dcb;
  --shadow-color: #ff0070;
  --main-text-color: #353430;
  --hf-title-color: #ffc2e6;
  --text-style: "IBM Plex Mono", sans-serif;
  --main-black-title: #353430;
  --bottom-accent-color: rgba(255, 0, 112, 0.4);
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
}
.page.theme_light {
  background-image: url(../images/cover-image-light.png);
}
.header {
  --hf-title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --card-title-color: #353430;
  .dec__text {
    display: none;
  }
  .dec__tochka {
    display: none;
  }
  .top__borders {
    border-top: 1px solid var(--main-black-title);
    border-right: 1px solid var(--main-black-title);
  }
  .bot__borders {
    border-bottom: 1px solid var(--main-black-title);
    border-left: 1px solid var(--main-black-title);
  }
  .header__theme-menu-button {
    color: var(--main-black-title);
  }
  .header__theme-menu-item:hover {
    outline: 1px solid var(--main-black-title);
  }
  .header__theme-menu-item:active {
    outline: 1px solid var(--main-black-title);
  }
  .header__theme-menu-item:focus-visible {
    border-bottom: 1px solid var(--main-black-title);
    outline: none;
  }
}
.main {
  --accent-color: #ff8dcb;
  --shadow-color: #ff0070;
  --main-text-color: #353430;
  --hf-title-color: #ffc2e6;
  --text-style: "IBM Plex Mono", sans-serif;
  --main-black-title: #353430;
  --bottom-accent-color: rgba(255, 0, 112, 0.4);
  --background-color: #111;
  .section__title {
    color: var(--main-black-title);
  }
}
.footer {
  --hf-title-color: #ffc2e6;
}
.footer__borders-top {
  border-top: 1px solid var(--main-black-title);
  border-right: 1px solid var(--main-black-title);
}
.footer__borders-bot {
  border-bottom: 1px solid var(--main-black-title);
  border-left: 1px solid var(--main-black-title);
}
