.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --shadow-color: #ff8dcb;
  --footer-shadow: #ff8dcb;
  --accent-color: #ff8dcb;
  --hf-title-color: #ffc2e6;
  --main-black-title: #353430;
  --main-text-color: #353430;
  --section-title-color: #353430;
  --bottom-accent-color: #353430;
  .rec_text {
    display: none;
  }
}
@media (prefers-color-scheme: light) {
  .page {
    background-image: url(../images/cover-image-light.png);
    --shadow-color: #ff8dcb;
    --footer-shadow: #ff8dcb;
    --accent-color: #ff8dcb;
    --hf-title-color: #ffc2e6;
    --main-black-title: #353430;
    --main-text-color: #353430;
    --section-title-color: #353430;
    --bottom-accent-color: #353430;
  }
  .rec_text {
    display: none;
  }
}
