.page {
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
}
.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 1fr 2fr;
  height: 100vh;
  max-width: 1024px;
  margin: auto;
  padding: 20px;
  margin-bottom: 60px;
}
.decorated-zone {
  position: relative;
}
.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px var(--section-title-color) solid;
  border-right: 1px var(--section-title-color) solid;
  position: absolute;
  inset-block-start: 20px;
  inset-inline-end: 20px;
}
.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px var(--section-title-color) solid;
  border-left: 1px var(--section-title-color) solid;
  position: absolute;
  inset-block-end: 20px;
  inset-inline-start: 20px;
}
.rec_text {
  position: absolute;
  top: 20px;
  right: 48px;
  color: var(--rec-color);
  font-family: var(--text-style);
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}
.rec_text::after {
  content: "";
  background-color: var(--rec-color);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 8px;
  right: -18px;
  box-shadow: 0px 0px 4px 2px var(--rec-color);
}
.title {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  font-size: clamp(7.5rem, 0.563rem + 14.453vw, 9.813rem);
  font-family: var(--text-style);
  font-weight: 700;
  color: var(--hf-title-color);
  text-shadow: 4px 4px 0px var(--shadow-color);
  margin-left: -20px;
  line-height: 82.5%;
}
.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor_color);
}
.text-block__title {
  margin-bottom: 10px;
  line-height: 130%;
}
.header_desc {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  align-self: center;
  margin-bottom: 5px;
}
.header__text {
  font-family: var(--text-style);
  font-weight: 700;
  line-height: 130%;
}
.header__theme-menu {
  grid-column-start: 2;
  grid-column-end: 4;
  justify-self: center;
  max-width: 230px;
}
.header__theme-menu-list {
  display: inline-flex;
  gap: 10px;
}
.header__theme-menu-item {
  line-height: 130%;
}
.header__theme-menu-button {
  padding: 3px 13px 4px 13px;
  background-color: inherit;
  font-family: var(--text-style);
  text-transform: lowercase;
  border: none;
  color: var(--section-title-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding-bottom: 4px;
}
.main {
  margin: auto;
  max-width: 1024px;
}
.section {
  padding: 0 20px 80px;
}
.why {
  display: grid;
  grid-template-columns: 314px 2fr;
  gap: 20px;
  font-family: var(--text-style);
}
.why_card {
  grid-column-start: 2;
}
.section__title {
  color: var(--section-title-color);
  font-weight: 700;
  line-height: 130%;
}
.what-section__title {
  max-width: 315px;
}
.card__text {
  color: var(--main-text-color);
  font-weight: 400;
  line-height: 130%;
}
.what_card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}
.what {
  font-family: var(--text-style);
  padding-bottom: 80px;
}
.how {
  display: grid;
  grid-template-columns: 315px 2fr;
  font-family: var(--text-style);
  gap: 20px;
}
.how__card {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  margin: 20px 0 0;
}
.how_title {
  font-weight: 400;
}
.section__gallery {
  margin: 0 20px 20px;
}
.gallery {
  margin-top: 20px;
  width: 100%;
  display: grid;
  gap: 19.76px;
  grid-template-columns: repeat(3, 32%);
}
.gallery_title {
  font-family: var(--text-style);
}
.gallery_pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
.pic_gal:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
.pic_gal:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.pic_gal:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}
.pic_gal:nth-child(4) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.pic_gal:nth-child(5) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.footer {
  max-width: 1024px;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  padding: 20px;
  margin-top: 60px;
  justify-content: center;
}
.footer__title {
  text-shadow: 2px 2px 0px var(--footer-shadow);
  margin-left: 0;
}
.header__theme-menu-button:hover {
  outline: 1px solid var(--bottom-accent-color);
}
.header__theme-menu-button:active {
  outline: 1px solid var(--section-title-color);
}
.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--section-title-color);
}
.link__style {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}
.link__style:hover {
  border-bottom: 1px solid var(--main-text-color);
}
.link__style:focus {
  outline: none;
}
.link__style:focus-visible {
  outline: 1px solid var(--main-text-color);
}
.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--section-title-color);
}
@media (max-width: 768px) {
  .header_desc {
    height: min-content;
    margin-bottom: 50px;
  }
  .header__theme-menu {
    width: none;
    max-width: 183px;
    display: flex;
    margin-top: 42px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    justify-self: end;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
  }
  .header__theme-menu-item {
    justify-self: end;
  }
  .why {
    grid-template-columns: 236px 2fr;
  }
  .how {
    grid-template-columns: 236px 2fr;
  }
  .what-section__title {
    max-width: 200px;
  }
  .what_card-list {
    grid-template-columns: none;
  }
  .gallery {
    grid-template-columns: repeat(3, 31.5%);
  }
}
@media (max-width: 576px) {
  .header {
    grid-template-columns: none;
    padding: 10px;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }
  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }
  .rec_text {
    top: 11px;
    right: 37px;
  }
  .header__theme-menu {
    margin-top: 0;
  }
  .title {
    margin-left: 0;
    margin-top: 2px;
    margin-bottom: 0;
    font-size: clamp(7.25rem, 6.784rem + 1.99vw, 7.5rem);
  }
  .header_desc {
    grid-column-start: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
  .section {
    padding: 0 10px 50px;
  }
  .why {
    margin-top: 40px;
    display: block;
  }
  .why_card {
    margin-top: 20px;
  }
  .section__title {
    max-width: max-content;
    justify-self: start;
  }
  .how {
    display: inline-block;
  }
  .how_card-list {
    margin-top: 20px;
  }
  .section__gallery {
    margin: 0;
    padding: 0 10px 0;
  }
  .gallery {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer {
    margin-top: 40px;
    padding: 10px;
  }
}
